@model StockTracking.Models.Entity.Categories
@{
    ViewBag.Title = "GetCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("UpdateCategory", "Category", FormMethod.Post))
{
    <h2>Update Category</h2>
    <br />
    @Html.HiddenFor(x => x.id, new { @class = "form-control" })
    <br />
    @Html.TextBoxFor(x => x.name, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">Update</button>
}



